$lightGreen : #b9e7e7;
$default-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: $default-font;
}

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 100%;

    .link {
      text-decoration: none;
      color: inherit;
    }

    

    // SINGLE
    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
      }

      .menu {
        flex: 2
      }
    }


  }
}