<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MainPage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if(isLogined != undefined) { %>
          <li class="nav-item">
            <form method="get" action="/getPosts">
              <input type="submit" value="게시판" class="nav-link btn btn-info">
            </form>
          </li>
          <li class="nav-item">
            <form method="get" action="/logout">
              <button type="submit" class="nav-link btn btn-primary">로그아웃</button>
            </form>
          </li>
        <% } else { %>
          <li class="nav-item">
            <form method="get" action="/api/auth/signIn">
              <button type="submit" class="nav-link btn btn-primary">로그인</button>
            </form>
          </li>
          <li class="nav-item">
            <form method="get" action="/api/auth/signUp">
              <button type="submit" class="nav-link btn btn-primary">회원가입</button>
            </form>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>