.lecture{
    display: flex;
    flex-direction: column;
    .lecture-container {
        display: flex;
        width: 100%;
        height: 400px;
        padding: 10px;
        margin: 10px;
        background-color: #002333;
        border-radius: 10px 10px 10px 10px;

        .lecture-rating-details{
            display: flex;
            flex-direction: row;

            .lecture-rating-count{
                color: white;
            }
        }

        .star-ratings {
            color: #aaa9a9; 
            position: relative;
            unicode-bidi: bidi-override;
            width: max-content;
            -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1.3px;
            -webkit-text-stroke-color: #2b2a29;
          }
           
          .star-ratings-fill {
            color: #fff58c;
            padding: 0;
            position: absolute;
            z-index: 1;
            display: flex;
            top: 0;
            left: 0;
            overflow: hidden;
            -webkit-text-fill-color: gold;
          }
           
          .star-ratings-base {
            z-index: 0;
            padding: 0;
            
          }
        
            &:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }
    
        .lecture-imformation {
            display: flex;
            align-items: center;  // 이미지를 수직으로 가운데 정렬
    
            width: 100%;
        }
    
        .lecture-image {
            width: 450px;
            height: 300px;
            margin-left: 25px;
            margin-right: 25px;
            border-radius: 8px;  // 이미지에 라운드된 모서리 추가
        }
    
        .lecture-imformation-details {
            display: flex;
            flex-direction: column;
            margin-left: 20px;  // 내용을 좌측으로 정렬하고 여백 추가
        }
    
        .lecture-time{
            font-weight: 400;
            line-height: 1.43;
            letter-spacing: -.3px;
            font-size: 14px;
            color: #fff;
            font-weight: 500;
            margin-bottom: 20px;
        }
    
        .lecture-price{
            font-weight: 400;
            line-height: 1.43;
            letter-spacing: -.3px;
            font-size: 14px;
            color: #fff;
            font-weight: 500;
            margin-bottom: 10px;
        }
    
        .lecture-instructor{
            font-weight: 400;
            line-height: 1.43;
            letter-spacing: -.3px;
            font-size: 14px;
            margin-right: 8px;
            color: #fff;
            text-decoration: underline;
            margin-bottom: 10px;
        }
    
        .lecture-rating{
            margin-right: 8px;
            font-size: 14px;
            margin-bottom: 10px;
        }
    
        .lecture-category{
            font-weight: 400;
            line-height: 1.43;
            letter-spacing: -.3px;
            font-size: 14px;
            color: #fff;
            font-weight: 500;
            white-space: pre;
            margin-bottom: 20px;
        }
    
        .lecture-title{
            margin-bottom: 10px;
            line-height: 1.5;
            letter-spacing: -.3px;
            color: #fff;
            font-weight: 700;
            font-size: 26px;
            word-break: break-word;
        }
    
        .lecture-button {
            display: flex;
            gap: 10px;  // 버튼 사이에 간격 추가
        }
    
        .lecture-paid,
        .lecture-add-cart {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    
        .lecture-paid:hover,
        .lecture-add-cart:hover {
            background-color: #0056b3;
        }
    }

    .lecture-card{
        .lecture-card-button{
            display: flex;
            flex-direction: row;
        }
        .lecture-card-introduction,
        .lecture-card-instructor,
        .lecture-card-curriculum,
        .lecture-card-comment{
            // margin-left: 10px;
            margin: 2px 2px 2px 2px;
            padding: 5px;
            background-color: white;
            color: gray;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s; // 부드러운 색상 변화를 위한 트랜지션 추가

            &:hover {
                color: black;
                background-color: #f0f0f0; // 마우스를 올렸을 때 배경색 변경
            }
        } 
    }

    .lecture-hr{
        margin-top: 10px;
        width: 100%;
        color: #313131;
    }
    
    .lecture-details-curriculum-content {
        border-left: 1px solid black;
        border-right: 1px solid black;
        
        .curriculum-item {
          display: flex;
          flex-direction: column;
        //   border: 1px solid black;
      
          .curriculum-title {
            padding: 8px;
            cursor: pointer;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            background-color: #f0f0f0; /* 선택한 섹션의 배경색 설정 (옵션) */
          }
      
          .sub-items {
            display: flex;
            flex-direction: column;
            background-color: #f5f5f5; /* 서브 아이템 배경색 설정 (옵션) */

            a{
                text-decoration: none;
                color: black;
            }

            a:link{text-decoration: none;}
            a:visited, a:active{color: black;}
          }
        }
      }
      
    
    .lecture-details-comment-content{
        display: flex;
        flex-direction: column;

        .comment-userInfo{
            display: flex;
            flex-direction: row;

            .comment-userImage{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                margin-right: 20px;
                margin-bottom: 20px;
            }

            .comment-userInfo-content{
                font-size: 14px;
                text-align: left;
            }
        }
        
    }

    .lecture-details-title{
        margin-right: 8px;
        line-height: 1.45;
        letter-spacing: -.3px;
        color: #343a40;
        font-size: 22px;
        font-weight: 700;
        font-style: inherit;
    }
      
    
    
}





