.header {
  width: 90%;
  height: 100px;
  margin-bottom: 50px;

  hr {
    width: 111%;
  }

  .container {
    // padding: 5px 0px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    // background-color:#cee0eb;
    width: 111%;

    .logo {
      img {
        width: 200px;
      }
      cursor: pointer;
      // margin-left: 10px;
    }

    .drop-down {
      position: relative;
      display: inline-block;
      // margin-right: 45px;

      .dropdown-toggle {
        background-color: #fff;
        border: 1px solid #bbb;
        border-radius: 8px;
        padding: 10px 12px;
        font-size: 14px;
        cursor: pointer;
        width: 150px;
        height: 40px;
        margin: 30px;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 10px;
        z-index: 1;

        .dropdown-title {
          display: block;
          padding: 8px 0;
          text-decoration: none;
          color: #333;
          transition: background-color 0.3s;
          cursor: pointer;

          &:hover {
            background-color: #f5f5f5;
          }
        }
      }

      &:hover .dropdown-content {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    .search {
      display: flex;
      width: 400px;
      height: 40px;

      input[type="text"] {
        padding: 10px 20px 10px 20px;
        border: 0.1px solid #f6f6f6;
        background-color: #f6f6f6;
        border-radius: 50px;
        outline: none;
        width: 80%;
        color: #5f5f5f;
        margin: auto;
        height: 40px;

        &:hover {
          border: 0.1px solid rgb(208, 205, 205);
        }
      }

      button {
        width: 40px;
        height: 40px;
        padding: 8px;
        background-color: #f6f6f6;
        color: white;
        border: 1px solid #f6f6f6;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        img {
          width: 20px;
        }

        &:hover {
          border: 0.1px solid rgb(208, 205, 205);
        }

        i {
          font-size: 16px;
        }
      }
    }

    .links {
      display: flex;
      gap: 10px;
      margin: auto;

      button {
        font-size: 16px;
        font-weight: 300;
        background-color: white;
        border: none;
      }

      .profile {
        position: relative;
        width: 40px;
        height: 40px;
        display: flex; /* 추가: 플렉스 컨테이너로 설정 */
        align-items: center;
        justify-content: center; /* 추가: 수평 가운데 정렬 */
        background-color: #f6f6f6;
        border-radius: 50%;
        cursor: pointer;
      
        &:hover .profile-dropdown {
          display: block;
          width: 220px;
          // padding: 10px;
          text-align: center;
        }
      
        .usericon {
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
    
        .profile-dropdown {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 250px;
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          z-index: 1;

          .dropdown-hr{
            width: 100%;
            height: 0.1px;
            margin: 0;
            padding: 0;
          }
          .dropdown-profile-container{
            display: flex;
            flex-direction: row;

            .user-profile-image{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin: 5px 20px 5px 5px;
            }

            .dropdown-profile-info{
              display: flex;
              flex-direction: column;
              justify-content: center;

              .dropdown-profile-nickname{
                text-align: left;
                font-size: 16px;
                margin: 0;
                padding: 0;
              }

              .dropdown-profile-email{
                font-size: 13px;
                margin: 0;
                padding: 0;
              }
            }

          }
    
          .dropdown-item {
            padding: 10px;
            text-decoration: none;
            display: block;
            color: #333;
            font-size: 14px;
    
            &:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }

      h6 {
        font-size: 16px;
        font-weight: 300;

        &:hover {
          color: gray;
        }
      }
    }
  }
  // style.scss
  .container.modal-open {
    position: relative;
    overflow: hidden;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; // 모달 미만의 요소가 위에 오도록 설정
  }

  
}
