.cart {
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;


  .cart-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .product-tab, .lecture-tab {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    width: 100px;
    background-color: #f8f8f8;
    border-radius: 19px;
  }
}
